/* line 2, ../../sass/sass/about.scss */
.wrapper-about .about-content {
  padding: 10px;
}
/* line 5, ../../sass/sass/about.scss */
.wrapper-about .about-content .about-header .about-header-content {
  padding: 10px;
}
/* line 8, ../../sass/sass/about.scss */
.wrapper-about .about-content .about-header .about-header-content .about-img img {
  position: relative !important;
  width: 100px;
  height: 100px;
}
/* line 14, ../../sass/sass/about.scss */
.wrapper-about .about-content .about-header .about-header-content .about-name {
  margin-left: -40px;
}
/* line 20, ../../sass/sass/about.scss */
.wrapper-about .about-content .about-footer .c100 {
  background-color: transparent;
}
/* line 22, ../../sass/sass/about.scss */
.wrapper-about .about-content .about-footer .c100:after {
  background-color: transparent;
}
