/* line 1, ../../sass/sass/hf.scss */
html, body {
  height: 100%;
}

/* line 4, ../../sass/sass/hf.scss */
body {
  width: 100%;
  min-height: 100%;
  background-image: url("/public/images/background/bgGreyDots.jpg");
  font-family: "Malgun Gothic", Helvetica, Arial;
}

/* line 10, ../../sass/sass/hf.scss */
.body-bg {
  background: url("/public/images/background/background_4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 17, ../../sass/sass/hf.scss */
.page960 {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
}

/* line 22, ../../sass/sass/hf.scss */
.slideshow {
  position: relative;
  width: 100%;
  height: auto;
}

/* line 27, ../../sass/sass/hf.scss */
.slideshow img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 34, ../../sass/sass/hf.scss */
header .main-menu {
  position: fixed;
  margin-top: 40px;
  margin-left: -10px;
  z-index: 1;
}
/* line 39, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li {
  margin-bottom: 10px;
}
/* line 41, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item {
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}
/* line 45, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item.menu-item-bg {
  background: #55BDC9;
}
/* line 49, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span img {
  position: relative !important;
  width: 20px;
  height: 20px;
}
/* line 54, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span .menu-item-name {
  padding-left: 8px;
  color: #000;
}
/* line 61, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item:hover span .menu-item-name {
  color: #fff;
}
/* line 69, ../../sass/sass/hf.scss */
header .social-main-menu {
  position: fixed;
  margin-top: 40px;
  z-index: 2;
  margin-left: -10px;
}
/* line 74, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li {
  display: none;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 78, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item {
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}
/* line 82, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item.menu-item-bg {
  background: #55BDC9;
}
/* line 86, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item span img {
  position: relative !important;
  width: 20px;
  height: 20px;
}
/* line 91, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item span .menu-item-name {
  display: none;
  padding-left: 8px;
}

/* line 101, ../../sass/sass/hf.scss */
.wrapper-main {
  width: 100%;
  max-width: 920px;
  border-radius: 5px;
  background: transparent;
  height: auto;
  padding: 10px;
  margin-left: 40px;
}
/* line 109, ../../sass/sass/hf.scss */
.wrapper-main .mainContact {
  border-left: 1px solid grey;
  position: fixed;
  width: 15%;
  max-width: 200px;
}
/* line 114, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon {
  padding-top: 5px;
}
/* line 116, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon a {
  text-decoration: none;
  padding-left: 5px;
}
/* line 119, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon a img {
  position: relative !important;
  width: 20px;
  height: 20px;
  background: #55BDC9;
  border-radius: 2px;
}
/* line 125, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon a img:hover {
  background: #307bbb;
}
/* line 132, ../../sass/sass/hf.scss */
.wrapper-main .footerContent {
  border-left: 1px solid grey;
  position: fixed;
  width: 15%;
  max-width: 200px;
  top: 580px;
}
/* line 138, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.aboutFooter {
  top: 420px;
}
/* line 141, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.contactFooter {
  top: 470px;
}
/* line 144, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.homeFooter {
  top: 460px;
}
/* line 147, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.portfolioFooter {
  top: 500px;
}
/* line 152, ../../sass/sass/hf.scss */
.wrapper-main .home-font-color span {
  color: #000 !important;
}
