/* line 1, ../../sass/sass/hf.scss */
html, body {
  height: 100%;
}

/* line 4, ../../sass/sass/hf.scss */
body {
  width: 100%;
  min-height: 100%;
  background-image: url("/public/images/background/bgGreyDots.jpg");
  font-family: "Malgun Gothic", Helvetica, Arial;
}

/* line 10, ../../sass/sass/hf.scss */
.body-bg {
  background: url("/public/images/background/background_4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 17, ../../sass/sass/hf.scss */
.page960 {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
}

/* line 22, ../../sass/sass/hf.scss */
.slideshow {
  position: relative;
  width: 100%;
  height: auto;
}

/* line 27, ../../sass/sass/hf.scss */
.slideshow img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 34, ../../sass/sass/hf.scss */
header .main-menu {
  position: fixed;
  margin-top: 40px;
  margin-left: -10px;
  z-index: 1;
}
/* line 39, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li {
  margin-bottom: 10px;
  cursor: pointer;
}
/* line 42, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item {
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}
/* line 46, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item.menu-item-bg {
  background: #55BDC9;
}
/* line 50, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span img {
  position: relative !important;
  width: 20px;
  height: 20px;
}
/* line 55, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span .menu-item-name {
  display: none;
  padding-left: 8px;
  color: #000;
  text-shadow: none;
}
/* line 60, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span .menu-item-name.aboutMenuNav {
  display: inline-block;
}
/* line 63, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span .menu-item-name.resumeMenuNav {
  display: inline-block;
}
/* line 66, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span .menu-item-name.portfolioMenuNav {
  display: inline-block;
}
/* line 69, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item span .menu-item-name.contactMenuNav {
  display: inline-block;
}
/* line 76, ../../sass/sass/hf.scss */
header .main-menu .main-menu-li .menu-item:hover span .menu-item-name {
  color: #fff;
  text-shadow: none;
}
/* line 85, ../../sass/sass/hf.scss */
header .social-main-menu {
  position: fixed;
  margin-top: 40px;
  z-index: 2;
  margin-left: -10px;
}
/* line 90, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li {
  display: none;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 94, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item {
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}
/* line 98, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item.menu-item-bg {
  background: #55BDC9;
}
/* line 102, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item#socialFbHref:hover #socialFbSpan {
  display: inline-block;
}
/* line 107, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item#socialSkypeHref:hover #socialSkypeSpan {
  display: inline-block;
}
/* line 112, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item#socialInstaHref:hover #socialInstaSpan {
  display: inline-block;
}
/* line 117, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item#socialTwitterHref:hover #socialTwitterSpan {
  display: inline-block;
}
/* line 122, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item span img {
  position: relative !important;
  width: 20px;
  height: 20px;
}
/* line 127, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item span .menu-item-name {
  display: none;
  padding-left: 8px;
}
/* line 134, ../../sass/sass/hf.scss */
header .social-main-menu .social-menu-li .menu-item:hover span .menu-item-name {
  color: #fff;
  text-shadow: none;
}

/* line 145, ../../sass/sass/hf.scss */
.wrapper-main {
  width: 100%;
  max-width: 920px;
  border-radius: 5px;
  background-image: url("/public/images/background/bgGreyDots.jpg");
  height: auto;
  padding: 10px;
  margin-left: 40px;
}
/* line 153, ../../sass/sass/hf.scss */
.wrapper-main .mainContact {
  border-left: 1px solid grey;
  position: fixed;
  width: 15%;
  max-width: 200px;
}
/* line 158, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon {
  padding-top: 5px;
}
/* line 160, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon a {
  text-decoration: none;
  padding-left: 5px;
}
/* line 163, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon a img {
  position: relative !important;
  width: 20px;
  height: 20px;
  background: #55BDC9;
  border-radius: 2px;
}
/* line 169, ../../sass/sass/hf.scss */
.wrapper-main .mainContact .mainSocialIcon a img:hover {
  background: #307bbb;
}
/* line 176, ../../sass/sass/hf.scss */
.wrapper-main .footerContent {
  border-left: 1px solid grey;
  position: fixed;
  width: 15%;
  max-width: 200px;
  top: 580px;
}
/* line 182, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.aboutFooter {
  top: 420px;
}
/* line 185, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.contactFooter {
  top: 470px;
}
/* line 188, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.homeFooter {
  top: 460px;
}
/* line 191, ../../sass/sass/hf.scss */
.wrapper-main .footerContent.portfolioFooter {
  top: 500px;
}

/* line 199, ../../sass/sass/hf.scss */
.modal#contactModal .contact-input-text input[type=text] {
  width: 48%;
}
/* line 204, ../../sass/sass/hf.scss */
.modal#contactModal .contact-text-area textarea {
  resize: none;
}
/* line 209, ../../sass/sass/hf.scss */
.modal .modal-content {
  background-image: url("/public/images/background/bgGreyDots.jpg");
  padding: 10px;
}
/* line 212, ../../sass/sass/hf.scss */
.modal .modal-content .modal-header {
  border: none;
  padding-bottom: 0px;
}
/* line 216, ../../sass/sass/hf.scss */
.modal .modal-content .modal-footer {
  border: none;
}
/* line 218, ../../sass/sass/hf.scss */
.modal .modal-content .modal-footer a {
  margin-left: 10px;
}
