/* line 1, ../../sass/sass/hf.scss */
html, body {
  height: 100%;
}

/* line 4, ../../sass/sass/hf.scss */
body {
  width: 100%;
  min-height: 100%;
  background: #fef6eb;
  font-family: "Malgun Gothic", Helvetica, Arial;
}

/* line 10, ../../sass/sass/hf.scss */
.page960 {
  width: 960px;
  margin: 0 auto;
}

/* line 14, ../../sass/sass/hf.scss */
.push50 {
  height: 50px;
}

/* line 17, ../../sass/sass/hf.scss */
.push100 {
  height: 100px;
}

/* line 20, ../../sass/sass/hf.scss */
.clear {
  clear: both;
}

/* line 23, ../../sass/sass/hf.scss */
.navbar {
  background-image: url("../img/indexbackground.svg");
  margin: 0;
  border: none;
  padding: 15px;
}

/* line 29, ../../sass/sass/hf.scss */
.navbar-header a {
  height: 5em;
}

/* line 32, ../../sass/sass/hf.scss */
.navbar-header a img {
  max-height: 100%;
}

/* line 35, ../../sass/sass/hf.scss */
.navbar-toggle {
  top: 0px;
  margin: 0 auto;
}
