/* line 2, ../../sass/sass/home.scss */
.wrapper-home .home-content {
  padding: 10px;
}
/* line 4, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-body {
  padding: 10px;
}
/* line 7, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-body .home-img img {
  position: relative !important;
  width: 250px;
  height: 200px;
  z-index: 1;
}
/* line 14, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-body .home-name {
  font-family: 'Josefin Sans', sans-serif;
}
/* line 16, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-body .home-name span {
  color: #000 !important;
}
/* line 19, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-body .home-name .home-position-text {
  font-size: 20px;
}
/* line 25, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-footer .list-group-item {
  background: none !important;
  border: none !important;
  display: inline-block !important;
}
/* line 29, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-footer .list-group-item .home-menu-item {
  text-decoration: none;
}
/* line 32, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-footer .list-group-item .home-menu-item span img {
  position: relative !important;
  width: 60px;
  height: 60px;
}
/* line 37, ../../sass/sass/home.scss */
.wrapper-home .home-content .home-footer .list-group-item .home-menu-item span .homeMenuName {
  margin-top: 10px;
  color: #307bbb;
}
