/* line 4, ../../sass/sass/index.scss */
.wrapper-index .row .profileImage img {
  vertical-align: middle;
  margin-top: 50px;
  max-height: 300px;
}
/* line 12, ../../sass/sass/index.scss */
.wrapper-index .row .profileInfo .infoList {
  margin-top: 30px;
}
/* line 14, ../../sass/sass/index.scss */
.wrapper-index .row .profileInfo .infoList li {
  display: inline-block;
  border: none;
}
/* line 17, ../../sass/sass/index.scss */
.wrapper-index .row .profileInfo .infoList li .infoCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid;
}
/* line 22, ../../sass/sass/index.scss */
.wrapper-index .row .profileInfo .infoList li .infoCircle p {
  line-height: 8;
  text-align: center;
}
