/* line 2, ../../sass/sass/profile.scss */
.wrapper-profile .profile-content {
  padding: 10px;
}
/* line 5, ../../sass/sass/profile.scss */
.wrapper-profile .profile-content .profile-header .profile-header-content {
  padding: 10px;
}
/* line 8, ../../sass/sass/profile.scss */
.wrapper-profile .profile-content .profile-header .profile-header-content .profile-img img {
  width: 100px;
  height: 100px;
}
/* line 13, ../../sass/sass/profile.scss */
.wrapper-profile .profile-content .profile-header .profile-header-content .profile-name {
  margin-left: -40px;
}
/* line 19, ../../sass/sass/profile.scss */
.wrapper-profile .profile-content .profile-footer .list-group-item {
  background: none !important;
  border: none !important;
  display: inline-block !important;
}
