/* line 2, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body {
  padding: 10px;
}
/* line 4, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .resume-content {
  padding: 10px;
}
/* line 6, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .resume-content h2 {
  margin: 0px 0px 30px 0px;
}
/* line 8, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .resume-content h2 img {
  position: relative !important;
  width: 50px;
  height: 50px;
  border: 2px solid grey !important;
  border-radius: 50px;
  padding: 5px;
}
/* line 17, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .resume-content .progress-bar {
  background-color: #55BDC9 !important;
}
/* line 20, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .resume-content .progress.active .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}
/* line 24, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .resume-content .progress {
  background-color: transparent !important;
  border: 1px solid grey !important;
}
/* line 30, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .personal-info td:first-child {
  width: 30%;
}
/* line 35, ../../sass/sass/resume.scss */
.wrapper-resume .resume-body .seminars td:first-child {
  width: 20%;
}
