/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 980px) {
  /* line 2, ../../sass/sass/_grid.scss */
  .lg-hide {
    display: none;
  }

  /* line 6, ../../sass/sass/_grid.scss */
  .wrapper-home .home-footer {
    margin-left: 120px;
  }

  /* line 11, ../../sass/sass/_grid.scss */
  .wrapper-portfolio .portfolio-list {
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 18, ../../sass/sass/_grid.scss */
  .md-hide {
    display: none;
  }

  /* line 21, ../../sass/sass/_grid.scss */
  .main-menu {
    position: relative !important;
  }
  /* line 23, ../../sass/sass/_grid.scss */
  .main-menu .main-menu-li {
    display: inline-block;
    margin-left: 20px;
  }

  /* line 29, ../../sass/sass/_grid.scss */
  .social-main-menu .social-menu-li {
    display: none !important;
  }

  /* line 33, ../../sass/sass/_grid.scss */
  .wrapper-main {
    margin-left: 0px !important;
  }
  /* line 35, ../../sass/sass/_grid.scss */
  .wrapper-main .mainContact {
    position: relative !important;
    width: 94% !important;
    max-width: 960px !important;
  }
  /* line 39, ../../sass/sass/_grid.scss */
  .wrapper-main .mainContact .mainSocialIcon {
    display: inline-block !important;
  }
  /* line 42, ../../sass/sass/_grid.scss */
  .wrapper-main .mainContact .mainSocialIcon a img {
    position: static !important;
  }
  /* line 48, ../../sass/sass/_grid.scss */
  .wrapper-main .footerContent {
    position: relative !important;
    width: 94% !important;
    max-width: 960px !important;
    top: 0 !important;
  }

  /* line 57, ../../sass/sass/_grid.scss */
  .wrapper-home .home-img img {
    display: block;
    margin: auto;
  }
  /* line 62, ../../sass/sass/_grid.scss */
  .wrapper-home .home-name {
    margin-left: 0px !important;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 70, ../../sass/sass/_grid.scss */
  .sm-hide {
    display: none !important;
  }

  /* line 73, ../../sass/sass/_grid.scss */
  .main-menu {
    position: relative !important;
  }
  /* line 75, ../../sass/sass/_grid.scss */
  .main-menu .main-menu-li {
    display: inline-block;
    margin-left: 20px;
  }

  /* line 81, ../../sass/sass/_grid.scss */
  .social-main-menu .social-menu-li {
    display: none !important;
  }

  /* line 85, ../../sass/sass/_grid.scss */
  .wrapper-main {
    margin-left: 0px !important;
  }
  /* line 87, ../../sass/sass/_grid.scss */
  .wrapper-main .mainContact {
    position: relative !important;
    width: 94% !important;
    max-width: 960px !important;
  }
  /* line 91, ../../sass/sass/_grid.scss */
  .wrapper-main .mainContact .mainSocialIcon {
    display: inline-block !important;
  }
  /* line 94, ../../sass/sass/_grid.scss */
  .wrapper-main .mainContact .mainSocialIcon a img {
    position: static !important;
  }
  /* line 100, ../../sass/sass/_grid.scss */
  .wrapper-main .footerContent {
    position: relative !important;
    width: 94% !important;
    max-width: 960px !important;
    top: 0 !important;
  }

  /* line 109, ../../sass/sass/_grid.scss */
  .wrapper-home .home-img img {
    display: block;
    margin: auto;
  }
  /* line 114, ../../sass/sass/_grid.scss */
  .wrapper-home .home-name {
    margin-left: 0px !important;
    text-align: center;
  }
  /* line 118, ../../sass/sass/_grid.scss */
  .wrapper-home .list-group-item {
    padding: 10px 10px !important;
  }
}
@media screen and (max-device-width: 480px) {
  /* line 125, ../../sass/sass/_grid.scss */
  .mb-hide {
    display: none;
  }
}
/* line 1, ../../sass/sass/_common.scss */
.push25 {
  height: 25px;
}

/* line 4, ../../sass/sass/_common.scss */
.push50 {
  height: 50px;
}

/* line 7, ../../sass/sass/_common.scss */
.push100 {
  height: 100px;
}

/* line 10, ../../sass/sass/_common.scss */
.clear {
  clear: both;
}

/* line 13, ../../sass/sass/_common.scss */
.text-right {
  text-align: right;
}

/* line 16, ../../sass/sass/_common.scss */
.text-left {
  text-align: left;
}

/* line 19, ../../sass/sass/_common.scss */
.text-indent {
  text-indent: 20px;
}

/* line 22, ../../sass/sass/_common.scss */
.float-right {
  float: right;
}

/* line 25, ../../sass/sass/_common.scss */
.float-left {
  float: left;
}

/* line 28, ../../sass/sass/_common.scss */
.bold {
  font-weight: 600;
}

/* line 31, ../../sass/sass/_common.scss */
.box-shadow {
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

/* line 37, ../../sass/sass/_common.scss */
.menu-item-grad-bg {
  background: #55BDC9;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #55BDC9, #fff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #55BDC9, #fff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #55BDC9, #fff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #55BDC9, #fff);
  /* Standard syntax */
}

/* line 44, ../../sass/sass/_common.scss */
.btn-primary {
  background: #55BDC9 !important;
  border: none !important;
}

/* line 48, ../../sass/sass/_common.scss */
.btn-default {
  background: #307bbb !important;
  border: none !important;
}
/* line 51, ../../sass/sass/_common.scss */
.btn-default:hover {
  color: #fff !important;
}

/* line 55, ../../sass/sass/_common.scss */
.form-control {
  background: transparent !important;
  color: #000 !important;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid grey;
}

/* line 64, ../../sass/sass/_common.scss */
input[type=text]::-moz-placeholder {
  /* Firefox 19+ */
}

/* line 67, ../../sass/sass/_common.scss */
input[type=text]:-ms-input-placeholder {
  /* IE 10+ */
}

/* line 70, ../../sass/sass/_common.scss */
input[type=text]:-moz-placeholder {
  /* Firefox 18- */
}

/* line 73, ../../sass/sass/_common.scss */
p {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}

/* line 77, ../../sass/sass/_common.scss */
span {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}

/* line 81, ../../sass/sass/_common.scss */
h2 {
  color: #000 !important;
}

/* line 84, ../../sass/sass/_common.scss */
.list-group-item {
  background: none !important;
  border: none !important;
  display: inline-block !important;
}

/* line 89, ../../sass/sass/_common.scss */
a {
  cursor: pointer;
}
