.push25{
    height: 25px;
}
.push50{
    height: 50px;
}
.push100{
    height: 100px;
}
.clear{
    clear: both;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-indent{
    text-indent: 20px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.bold{
    font-weight: 600;
}