.push50{
    height: 50px;
}
.push100{
    height: 100px;
}
.clear{
    clear: both;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}