@media screen and (min-width: 980px) {
	.lg-hide {
		display: none;
	}
	.secondMainMenu{
	    display: none;
	}
}

@media screen and (min-width : 768px) and (max-width : 979px) {
	.md-hide {
		display: none;
	}
	.secondMainMenu{
	    display: none;
	}
}

@media screen and (max-width: 767px) {
	.sm-hide {
		display: none;
	}
    .mainMenu{
        display: none;
    }
	.imgLogo {
	    margin-top: 5px;
		width: 200px;
	}
	.infoCircle{
	    max-width: 60px;
	    max-height: 60px;
	    p{
	        line-height: 4;
	    }
	}
}

@media screen and (max-device-width: 480px) {
	.mb-hide {
		display: none;
	}
}