.wrapper-contact{
    padding: 10px;
    .contact-body{
        form{
            textarea{
                resize: none;
            }
            input[type=text]{
                width: 48%;
            }
            .input-submit{
                a{
                    margin-left: 10px;
                }
            }
        }
    }
}