html, body {
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    background-image: url("/public/images/bgGreyDots.jpg");
    font-family: "Malgun Gothic", Helvetica, Arial;
}
.page960 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
header{
    .main-menu{
        position: absolute;
        margin-top: 40px;
        .main-menu-li{
            margin-bottom: 20px;
            .menu-item{
                text-decoration: none;
                padding: 10px;
                background: #55BDC9;
                border-radius: 3px;
                span{
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    .menu-item-name{
                        padding-left: 8px;
                    }
                }
            }
        }
    }
}

.wrapper-main{
    width: 100%;
    max-width: 920px;
    border-radius: 5px;
    background: #fff;
    height: auto;
    padding: 10px;
    margin-left: 40px;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
    .mainContact{
        border-left: 1px solid grey;
        .mainSocialIcon{
            .fb-icon{
                width: 20px;
                height: 20px;
            }
        }
    }
}
footer{
    width: 820px;
    padding-bottom: 30px;
    clear: both;
    margin-left: 40px;
    padding-top: 20px;
    background-image: url("/public/images/shadow-footer-960.png");
    background-repeat: no-repeat;
}