html, body {
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    background-image: url("/public/images/background/bgGreyDots.jpg");
    font-family: "Malgun Gothic", Helvetica, Arial;
}
.body-bg{
    background: url("/public/images/background/body-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page960 {
    width: 94%;
    max-width: 960px;
    margin: 0 auto;
}
.slideshow{
    position: relative;
    width: 100%;
    height: auto;
}
.slideshow img{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:-1;
}
header{
    .main-menu{
        position: fixed;
        margin-top: 40px;
        z-index: 1;
        .main-menu-li{
            margin-bottom: 5px;
            .menu-item{
                text-decoration: none;
                padding: 10px;
                border-radius: 3px;
                &.menu-item-bg{
                    background: #55BDC9;
                }
                span{
                    img{
                        position: relative !important;
                        width: 20px;
                        height: 20px;
                    }
                    .menu-item-name{
                        padding-left: 8px;
                        color: #000;
                    }
                }
                &:hover{
                    span{
                        .menu-item-name{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .social-main-menu{
        position: fixed;
        margin-top: 40px;
        z-index: 2;
        .social-menu-li{
            display: none;
            cursor: pointer;
            margin-bottom: 5px;
            .menu-item{
                text-decoration: none;
                padding: 10px;
                border-radius: 3px;
                &.menu-item-bg{
                    background: #55BDC9;
                }
                span{
                    img{
                        position: relative !important;
                        width: 20px;
                        height: 20px;
                    }
                    .menu-item-name{
                        display: none;
                        padding-left: 8px;
                    }
                }
            }
        }
    }
}

.wrapper-main{
    width: 100%;
    max-width: 920px;
    border-radius: 5px;
    background: transparent;
    height: auto;
    padding: 10px;
    margin-left: 40px;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
    .mainContact{
        border-left: 1px solid grey;
        position: fixed;
        width: 15%;
        max-width: 200px;
        .mainSocialIcon{
            padding-top: 5px;
            a{
                text-decoration: none;
                padding-left: 5px;
                img{
                    position: relative !important;
                    width: 20px;
                    height: 20px;
                    background: #55BDC9;
                    border-radius: 2px;
                    &:hover{
                        background: #307bbb;
                    }
                }
            }
        }
    }
    .footerContent{
        border-left: 1px solid grey;
        position: fixed;
        width: 15%;
        max-width: 200px;
        top: 580px;
        &.aboutFooter{
            top: 420px;
        }
        &.contactFooter{
            top: 470px;
        }
        &.homeFooter{
            top: 460px;
        }
        &.portfolioFooter{
            top: 500px;
        }
    }
    .home-font-color{
        span{
            color: #000 !important;
        }
    }
}