.wrapper-profile{
    .profile-content{
        padding: 10px;
        .profile-header{
            .profile-header-content{
                padding: 10px;
                .profile-img{
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                .profile-name{
                    margin-left: -40px;
                }
            }
        }
        .profile-footer{
            .list-group-item{
                background: none !important;
                border: none !important;
                display: inline-block !important;
            }
        }
    }
}