#{extends 'main.html' /}
#{set title:'Gutierrez | Contact' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/contact.css">
#{/}
#{get 'moreScripts'}
<script>

</script>
#{/}

<div class="wrapper-contact">
    <div class="contact-body">
        <div class="contact-title box-shadow col-md-12">
            <h2>
                &{'contactAsk'}
            </h2>
        </div>
        <div class="clear"></div>
        <div class="push25"></div>
        <form class="form-group box-shadow col-md-12">
            <div class="push25"></div>
            <div class="input-text">
                <input type="text" class="form-control col-md-6 pull-left" placeholder="&{'yourEmail'}"/>
                <input type="text" class="form-control col-md-6 pull-right" placeholder="&{'yourName'}"/>
            </div>
            <div class="clear"></div>
            <div class="push25"></div>
            <div class="text-area">
                <textarea class="form-control" rows="10" placeholder="&{'yourMessage'}"></textarea>
            </div>
            <div class="push25"></div>
            <div class="input-submit">
                <a href="" class="btn btn-primary hvr-shutter-out-horizontal  pull-right">Send</a>
                <a href="" class="btn btn-default hvr-shutter-in-horizontal  pull-right">Download My CV</a>
            </div>
            <div class="clear"></div>
            <div class="push25"></div>
        </form>
    </div>
</div>