#{extends 'main.html' /}
#{set title:'Gutierrez | Contact' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/contact.css">
#{/}
#{get 'moreScripts'}
<script>
$(document).ready(function(){
    $(".contactSubmit").click(function(){
        window.location.reload();
    });
    $('#contactDownload').click(function(){
        $('#contactDownloadModal').modal();
    });
    $('#contactDownloadModal').draggable({
        handle: ".modal-body"
    });
});
</script>
#{/}

<div class="wrapper-contact">
    <div class="contact-body">
        <div class="contact-title box-shadow col-md-12">
            <h2>
                &{'contactAsk'}
            </h2>
        </div>
        <div class="clear"></div>
        <div class="push25"></div>
        <form class="form-group box-shadow col-md-12">
            <div class="push25"></div>
            <div class="input-text">
                <input type="text" class="form-control col-md-6 pull-left" placeholder="&{'yourEmail'}"/>
                <input type="text" class="form-control col-md-6 pull-right" placeholder="&{'yourName'}"/>
            </div>
            <div class="clear"></div>
            <div class="push25"></div>
            <div class="text-area">
                <textarea class="form-control" rows="10" placeholder="&{'yourMessage'}"></textarea>
            </div>
            <div class="push25"></div>
            <div class="input-submit">
                <a href="" class="btn btn-primary hvr-shutter-out-horizontal pull-right contactSubmit">Send</a>
                <a href="" class="btn btn-default hvr-shutter-in-horizontal pull-right" id="contactDownload">Download My CV</a>
            </div>
            <div class="clear"></div>
            <div class="push25"></div>
        </form>
    </div>
</div>

<!-- Download Modal -->
<div class="modal fade" id="contactDownloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>
                    &{'contactDownload'}
                </h3>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-default hvr-shutter-in-horizontal pull-right" id="download-modal-no" data-dismiss="modal">No</a>
                <a download="Resume-Jerald-Update.pdf" href="public/resume-file/Resume-Jerald-Update.pdf" class="btn btn-primary hvr-shutter-out-horizontal pull-right" onclick="location.reload()">Yes</a>
            </div>
        </div>
    </div>
</div>
<!-- END -->