#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/index.css">
#{/}

#{set 'moreScripts'}

#{/}

<div class="push50"></div>
<div class="wrapper-index">
    <div class="row col-md-12">
        <div class="profileImage col-md-5">
            <img class="img-circle img-responsive col-md-offset-2" src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/10403460_1106230512736373_3536844801586647999_n.jpg?oh=76a66355b4506014882d7a145cccd3a5&oe=57E27427" width="300" />
        </div>
        <div class="profileInfo col-md-7">
            <ul class="infoList list-group col-md-offset-1">
               <li class="list-group-item">
                   <div class="resumeInfo">
                        <div class="infoCircle">
                            <p>AAA</p>
                        </div>
                   </div>
               </li>
               <li class="list-group-item">
                   <div class="skillInfo">
                       <div class="infoCircle">
                           <p>AAA</p>
                       </div>
                   </div>
               </li>
               <li class="list-group-item">
                   <div class="workInfo">
                       <div class="infoCircle">
                           <p>AAA</p>
                       </div>
                   </div>
               </li>
            </ul>
            <div class="briefInfo">
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</div>