#{extends 'main.html' /}
#{set title:'Gutierrez, Jerald S.' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/index.css">
#{/}

#{set 'moreScripts'}

#{/}

<div class="wrapper-index">
    <div class="row col-md-12">
        <div class="profileImage col-md-5">
            <img class="img-circle img-responsive col-md-offset-2" src="/public/images/profile.jpg" width="300" />
        </div>
        <div class="profileInfo col-md-7">
            <ul class="infoList list-group col-md-offset-2">
               <li class="list-group-item">
                   <div class="resumeInfo">
                        <div class="infoCircle">
                            <p>My Resume</p>
                        </div>
                   </div>
               </li>
               <li class="list-group-item">
                   <div class="skillInfo">
                       <div class="infoCircle">
                           <p>My Skills</p>
                       </div>
                   </div>
               </li>
               <li class="list-group-item">
                   <div class="workInfo">
                       <div class="infoCircle">
                           <p>My Work</p>
                       </div>
                   </div>
               </li>
            </ul>
            <div class="aboutInfo">

            </div>
            <div class="resumeInfo">

            </div>
            <div class="resumeInfo">

            </div>
        </div>
    </div>
</div>