#{extends 'main.html' /}
#{set title:'Gutierrez | Portfolio' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/portfolio.css">
#{/}

#{get 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/portfolioList.js"></script>
<script>
website.controller('portfolioCtrl', function($scope) {
    $scope.portfolioList = [
        {
            portfolioListTitle: "&{'portfolioListTitle_1'}",
            portfolioListHref: "",
            portfolioListHrefID: "fade-in1-Href",
            portfolioDivID: "fade-in1",
            portfolioListImg1: "/public/images/background/background_1.jpg",
            portfolioListImg2: "/public/images/background/background_2.jpg",
            portfolioListImg3: "/public/images/background/background_3.jpg",
        },
        {
            portfolioListTitle: "&{'portfolioListTitle_2'}",
            portfolioListHref: "",
            portfolioListHrefID: "fade-in2-Href",
            portfolioDivID: "fade-in2",
            portfolioListImg2: "/public/images/background/background_2.jpg",
            portfolioListImg3: "/public/images/background/background_3.jpg",
            portfolioListImg1: "/public/images/background/background_1.jpg",
        },
        {
            portfolioListTitle: "&{'portfolioListTitle_3'}",
            portfolioListHref: "",
            portfolioListHrefID: "fade-in3-Href",
            portfolioDivID: "fade-in3",
            portfolioListImg3: "/public/images/background/background_3.jpg",
            portfolioListImg1: "/public/images/background/background_1.jpg",
            portfolioListImg2: "/public/images/background/background_2.jpg",
        },
        {
            portfolioListTitle: "&{'portfolioListTitle_4'}",
            portfolioListHref: "",
            portfolioListHrefID: "fade-in4-Href",
            portfolioDivID: "fade-in4",
            portfolioListImg3: "/public/images/background/background_3.jpg",
            portfolioListImg1: "/public/images/background/background_1.jpg",
            portfolioListImg2: "/public/images/background/background_2.jpg",
        },
        {
            portfolioListTitle: "&{'portfolioListTitle_5'}",
            portfolioListHref: "",
            portfolioListHrefID: "fade-in5-Href",
            portfolioDivID: "fade-in5",
            portfolioListImg2: "/public/images/background/background_2.jpg",
            portfolioListImg3: "/public/images/background/background_3.jpg",
            portfolioListImg1: "/public/images/background/background_1.jpg",
        },
        {
            portfolioListTitle: "&{'portfolioListTitle_6'}",
            portfolioListHref: "",
            portfolioListHrefID: "fade-in6-Href",
            portfolioDivID: "fade-in6",
            portfolioListImg1: "/public/images/background/background_1.jpg",
            portfolioListImg2: "/public/images/background/background_2.jpg",
            portfolioListImg3: "/public/images/background/background_3.jpg",
        },
    ];
});
</script>
#{/}

<div class="wrapper-portfolio" ng-controller="portfolioCtrl">
    <div class="portfolio-content">
        <div class="portfolio-header">
            <div class="portfolio-title box-shadow col-md-12">
                <h2>
                    &{'portfolioTitle'}
                </h2>
            </div>
        </div>
        <div class="clear"></div>
        <div class="push25"></div>
        <div class="portfolio-body-content box-shadow col-md-12">
            <div class="push25"></div>
            <ul class="list-group portfolio-list col-sm-offset-1 col-md-offset-2 col-xs-offset-2">
                <li class="list-group-item" ng-repeat="x in portfolioList">
                    <a ng-href="{{x.portfolioListHref}}">
                        <div class="content-list {{x.portfolioDivID}}" id="{{x.portfolioListHrefID}}">
                            <img ng-src="{{x.portfolioListImg1}}">
                            <img ng-src="{{x.portfolioListImg2}}">
                            <img ng-src="{{x.portfolioListImg3}}">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="push25"></div>
    </div>
</div>