#{extends 'main.html' /}
#{set title:'Gutierrez | Resume' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/resume.css">
#{/}
#{set 'moreScripts'}
<script>
website.controller('resumeCtrl', function($scope) {
    $scope.personalInfo = [
        {
            personalInfoTitle: "&{'personalInfoGender_1'}",
            personalInfoName: "&{'personalInfoGender_2'}",
        },
        {
            personalInfoTitle: "&{'personalInfoBirth_1'}",
            personalInfoName: "&{'personalInfoBirth_2'}",
        },
        {
            personalInfoTitle: "&{'personalInfoStatus_1'}",
            personalInfoName: "&{'personalInfoStatus_2'}",
        },
        {
            personalInfoTitle: "&{'personalInfoNationality_1'}",
            personalInfoName: "&{'personalInfoNationality_2'}",
        },
        {
            personalInfoTitle: "&{'personalInfoObjective_1'}",
            personalInfoName: "&{'personalInfoObjective_2'}",
        },
    ];

    $scope.educBackground = [
        {
            educTitle: "&{'educTertiary'}",
            educYear: "&{'educTerYear'}",
            educSchool: "&{'educTerSchool'}",
            educAdd: "&{'educTerAdd'}",
            educProgram: "&{'educTerProgram'}",
        },
        {
            educTitle: "&{'educPrimary'}",
            educYear: "&{'educPriYear'}",
            educSchool: "&{'educPriSchool'}",
            educAdd: "&{'educPriAdd'}",
        },
        {
            educTitle: "&{'educSecondary'}",
            educYear: "&{'educSecYear'}",
            educSchool: "&{'educSecSchool'}",
            educAdd: "&{'educSecAdd'}",
        },
    ];

    $scope.mySkillsList = [
        {
            mySkills: "&{'skills_1'}",
            mySkillsValue: "95",
            mySkillsClass: "mySkillsProgress1",
        },
        {
            mySkills: "&{'skills_2'}",
            mySkillsValue: "90",
            mySkillsClass: "mySkillsProgress2",
        },
        {
            mySkills: "&{'skills_3'}",
            mySkillsValue: "95",
            mySkillsClass: "mySkillsProgress3",
        },
        {
            mySkills: "&{'skills_4'}",
            mySkillsValue: "95",
            mySkillsClass: "mySkillsProgress4",
        },
        {
            mySkills: "&{'skills_5'}",
            mySkillsValue: "95",
            mySkillsClass: "mySkillsProgress5",
        },
        {
            mySkills: "&{'skills_6'}",
            mySkillsValue: "90",
            mySkillsClass: "mySkillsProgress6",
        },
        {
            mySkills: "&{'skills_7'}",
            mySkillsValue: "90",
            mySkillsClass: "mySkillsProgress7",
        },
    ];

    $scope.workExperience = [
        {
            workExpTitle: "&{'workExpKinpo_1'}",
            workExpPos: "&{'workExpKinpo_2'}",
            workExpDate: "&{'workExpKinpo_3'}",
            workExpDoing1: "&{'workExpKinpo_4'}",
            workExpDoing2: "&{'workExpKinpo_5'}",
        },
        {
            workExpTitle: "&{'workExpIntern_1'}",
            workExpPos: "&{'workExpIntern_2'}",
            workExpDate: "&{'workExpIntern_3'}",
            workExpDoing1: "&{'workExpIntern_4'}",
            workExpDoing2: "&{'workExpIntern_5'}",
            workExpDoing3: "&{'workExpIntern_6'}",
        },
        {
            workExpTitle: "&{'workExpStudent_1'}",
            workExpPos: "&{'workExpStudent_2'}",
            workExpDate: "&{'workExpStudent_3'}",
            workExpDoing1: "&{'workExpStudent_4'}",
        },
    ];

    $scope.Seminars = [
        {
            seminarDate: "&{'seminar_11_v1'}",
            seminarTitle: "&{'seminar_11_v2'}",
        },
        {
            seminarDate: "&{'seminar_10_v1'}",
            seminarTitle: "&{'seminar_10_v2'}",
        },
        {
            seminarDate: "&{'seminar_9_v1'}",
            seminarTitle: "&{'seminar_9_v2'}",
        },
        {
            seminarDate: "&{'seminar_8_v1'}",
            seminarTitle: "&{'seminar_8_v2'}",
        },
        {
            seminarDate: "&{'seminar_7_v1'}",
            seminarTitle: "&{'seminar_7_v2'}",
        },
        {
            seminarDate: "&{'seminar_6_v1'}",
            seminarTitle: "&{'seminar_6_v2'}",
        },
        {
            seminarDate: "&{'seminar_5_v1'}",
            seminarTitle: "&{'seminar_5_v2'}",
        },
        {
            seminarDate: "&{'seminar_4_v1'}",
            seminarTitle: "&{'seminar_4_v2'}",
        },
        {
            seminarDate: "&{'seminar_3_v1'}",
            seminarTitle: "&{'seminar_3_v2'}",
        },
        {
            seminarDate: "&{'seminar_2_v1'}",
            seminarTitle: "&{'seminar_2_v2'}",
        },
        {
            seminarDate: "&{'seminar_1_v1'}",
            seminarTitle: "&{'seminar_1_v2'}",
        },
    ];
});
</script>
<script>
$(document).ready(function(){
    <!-- Animate Progress bar for mySkills -->
    var go = true;
    $(window).scroll(function() {
        if ($(this).scrollTop() > 600 && go) {
            $(".mySkillsProgress1, .mySkillsProgress3, .mySkillsProgress4, .mySkillsProgress5").animate({
                width: "95%"
            }, 3000);
            $(".mySkillsProgress2, .mySkillsProgress6, .mySkillsProgress7").animate({
                width: "90%"
            }, 3000);
        }
    });
    <!-- END -->
});
</script>
#{/}

<div class="wrapper-resume" ng-controller="resumeCtrl">
    <div class="resume-body">
        <div class="resume-content personal-info box-shadow">
            <h2>
                <img class="img-circle" src="/public/images/resume/profile-resume.svg">
                <span>&{'personalInfoTitle'}</span>
            </h2>
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="x in personalInfo">
                        <td>
                            <p class="bold">{{x.personalInfoTitle}}</p>
                        </td>
                        <td>
                            <p>{{x.personalInfoName}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="push25"></div>
        <div class="resume-content educ-background box-shadow">
            <h2>
                <img class="img-circle" src="/public/images/resume/educ-resume.svg">
                <span>&{'educTitle'}</span>
            </h2>
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="x in educBackground">
                        <td>
                            <p class="bold">{{x.educYear}}</p>
                        </td>
                        <td>
                            <p>{{x.educSchool}}</p>
                            <p>{{x.educAdd}}</p>
                            <p>{{x.educProgram}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="push25"></div>
        <div class="resume-content my-skills box-shadow">
            <h2>
                <img class="img-circle" src="/public/images/resume/skills-resume.svg">
                <span>&{'skillsTitle'}</span>
            </h2>
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="x in mySkillsList">
                    <td>
                        <p>{{x.mySkills}}</p>
                        <!-- <div class="progress">
                            <div class="progress-bar" data-toggle="tooltip" data-placement="bottom" title="{{x.mySkillsValue}}%" style="width:{{x.mySkillsValue}}%">
                                <span class="sr-only">{{x.mySkillsValue}}%</span>
                            </div>
                        </div> -->
                        <div class="progress-container">
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success {{x.mySkillsClass}}" data-toggle="tooltip" data-placement="bottom" title="{{x.mySkillsValue}}%" style="width:0%"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="push25"></div>
        <div class="resume-content work-exp box-shadow">
            <h2>
                <img class="img-circle" src="/public/images/resume/work-resume.svg">
                <span>&{'workExpTitle'}</span>
            </h2>
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="x in workExperience">
                        <td>
                            <p class="bold">{{x.workExpDate}}</p>
                        </td>
                        <td>
                            <p class="bold">{{x.workExpTitle}}</p>
                            <p>{{x.workExpPos}}</p>
                            <p class="text-indent">{{x.workExpDoing1}}</p>
                            <p class="text-indent">{{x.workExpDoing2}}</p>
                            <p class="text-indent">{{x.workExpDoing3}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="push25"></div>
        <div class="resume-content seminars box-shadow">
            <h2>
                <img class="img-circle" src="/public/images/resume/seminar-resume.svg">
                <span>&{'seminarTitle'}</span>
            </h2>
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="x in Seminars">
                        <td>
                            <p class="bold">{{x.seminarDate}}</p>
                        </td>
                        <td>
                            <p>{{x.seminarTitle}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

