<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/hf.css">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/screen.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap-select.css">
        #{get 'moreStyles' /}

        <script type="text/javascript" src="/public/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/jquery-1.10.2.min.js"></script>
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/bootstrap/js/bootstrap-select.js"></script>
        <script>
            var website = angular.module('website', []);
            website.controller('dataCtrl', function($scope) {
                $scope.mainMenu = [
                    {
                        mainNav: "'&{'mainHome'}'",
                        mainNavUrl: "#Home",
                    },
                    {
                        mainNav: "'&{'mainPortfolio'}'",
                        mainNavUrl: "#Portfolio",
                    },
                    {
                        mainNav: "'&{'mainDownload'}'",
                        mainNavUrl: "#Download",
                    },
                    {
                        mainNav: "'&{'mainContact'}'",
                        mainNavUrl: "#Contact",
                    },
                ];

                $scope.secondMainMenu = [
                    {
                        mainNav: "'&{'mainHome'}'",
                        mainNavUrl: "#Home",
                    },
                    {
                        mainNav: "'&{'mainSkills'}'",
                        mainNavUrl: "#Skills",
                    },
                    {
                        mainNav: "'&{'mainWork'}'",
                        mainNavUrl: "#WorkExp",
                    },
                    {
                        mainNav: "'&{'mainEduc'}'",
                        mainNavUrl: "#EducBackground",
                    },
                    {
                        mainNav: "'&{'mainPortfolio'}'",
                        mainNavUrl: "#Portfolio",
                    },
                    {
                        mainNav: "'&{'mainDownload'}'",
                        mainNavUrl: "#Download",
                    },
                    {
                        mainNav: "'&{'mainContact'}'",
                        mainNavUrl: "#Contact",
                    },
                ];
            });
        </script>
        #{get 'moreScripts' /}
    </head>
    <body ng-app="website" ng-controller="dataCtrl">
        <div>
            <div class="wrapper">
                <header>
                    <nav class="navbar navbar-default" id="navigation" role="navigation">
                        <div class="container">
                            <section class="header col-md-12 col-xs-12">
                                <div class="navbar-header col-md-6">
                                    <a href="" class="navbar-band">
                                        <!--<img class="imgLogo" src="/public/images/nameTag.png" />-->
                                    </a>
                                    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                    </button>
                                </div>
                                <div class="col-md-6 mainMenu">
                                    <ul class="list-inline nav navbar-nav" ng-repeat="x in mainMenu">
                                        <li><a href="{{x.mainNavUrl}}" ng-bind="{{x.mainNav}}"></a></li>
                                    </ul>
                                </div>
                                <div class="secondMainMenu">
                                    <div class="collapse navbar-collapse navbar-left col-md-6" id="navbar-collapse">
                                        <ul class="list-inline nav navbar-nav" ng-repeat="x in secondMainMenu">
                                            <li><a href="{{x.mainNavUrl}}" ng-bind="{{x.mainNav}}"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </nav>
                </header>

                #{doLayout /}

                <footer>

                </footer>
            </div>
        </div>
    </body>
</html>
