<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/profile.ico'}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/hf.css">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/hover.css">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/screen.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap-select.css">
        #{get 'moreStyles' /}

        <script type="text/javascript" src="/public/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/jquery-ui-1.11.2.js"></script>
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/bootstrap/js/bootstrap-select.js"></script>
        <script>
            var website = angular.module('website', []);
            website.controller('dataCtrl', function($scope) {
                $scope.mainMenu = [
                    {
                        mainNav: "&{'mainHome'}",
                        mainNavUrl: "/",
                        mainNavImg: "/public/images/menu/home-menu.svg",
                        mainNavSpanID: "&{'mainHomeSpanID'}",
                        mainNavHrefID: "&{'mainHomeHrefID'}",
                    },
                    {
                        mainNav: "&{'mainAbout'}",
                        mainNavUrl: "/About",
                        mainNavImg: "/public/images/menu/about-menu.svg",
                        mainNavSpanID: "&{'mainAboutSpanID'}",
                        mainNavHrefID: "&{'mainAboutHrefID'}",
                    },
                    {
                        mainNav: "&{'mainResume'}",
                        mainNavUrl: "/Resume",
                        mainNavImg: "/public/images/menu/resume-menu.svg",
                        mainNavSpanID: "&{'mainResumeSpanID'}",
                        mainNavHrefID: "&{'mainResumeHrefID'}",
                    },
                    {
                        mainNav: "&{'mainPortfolio'}",
                        mainNavUrl: "/Portfolio",
                        mainNavImg: "/public/images/menu/portfolio-menu.svg",
                        mainNavSpanID: "&{'mainPortfolioSpanID'}",
                        mainNavHrefID: "&{'mainPortfolioHrefID'}",
                    },
                    {
                        mainNav: "&{'mainContact'}",
                        mainNavUrl: "",
                        mainNavImg: "/public/images/menu/contact-menu.svg",
                        mainNavSpanID: "&{'mainContactSpanID'}",
                        mainNavHrefID: "&{'mainContactHrefID'}",
                    },
                ];
                $scope.socialMenu = [
                    {
                        socialNav: "&{'socialFb'}",
                        socialNavUrl: "https://www.facebook.com/OnesixJerald.BossdOTsupErman",
                        socialNavImg: "/public/images/social/fb-icon.svg",
                        socialNavHrefID: "&{'socialFbHrefID'}",
                        socialNavSpanID: "&{'socialFbSpanID'}",
                    },
                    {
                        socialNav: "&{'skypeID'}",
                        socialNavUrl: "",
                        socialNavImg: "/public/images/social/skype-icon.svg",
                        socialNavHrefID: "&{'socialSkypeHrefID'}",
                        socialNavSpanID: "&{'socialSkypeSpanID'}",
                    },
                    {
                        socialNav: "&{'socialInsta'}",
                        socialNavUrl: "https://www.instagram.com/gutierrezjerald/?hl=en",
                        socialNavImg: "/public/images/social/instagram-icon.svg",
                        socialNavHrefID: "&{'socialInstaHrefID'}",
                        socialNavSpanID: "&{'socialInstaSpanID'}",
                    },
                    {
                        socialNav: "&{'socialTwitter'}",
                        socialNavUrl: "https://twitter.com/SenaJerald",
                        socialNavImg: "/public/images/social/twitter-icon.svg",
                        socialNavHrefID: "&{'socialTwitterHrefID'}",
                        socialNavSpanID: "&{'socialTwitterSpanID'}",
                    },
                ];
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                <!-- Disable ctrl shift key and right click -->
                window.onkeydown = function(e) {
                    if(event.keyCode == 123) {
                        return false;
                    }
                    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
                        return false;
                    }
                    if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)){
                        return false;
                    }
                    if(e.metaKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)){
                        return false;
                    }
                    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
                        return false;
                    }
                    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
                        return false;
                    }
                    if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
                        return false;
                    }
                    if(e.ctrlKey && e.keyCode == 'C'.charCodeAt(0)){
                        return false;
                    }
                }
                $(window).on("contextmenu",function(e){
                   return false;
                });
                <!-- END -->

                $('[data-toggle="tooltip"]').tooltip();

                $('#mainContactHref').click(function(){
                    $('#contactModal').modal();
                });
                $('#downloadModal').click(function(){
                    $('#downloadModalDisplay').modal();
                });
                $('#download-modal-no').click(function(){
                    $('#contactModal').modal();
                });
                $('#contactModal').draggable({
                    handle: ".modal-body"
                });
                $('#downloadModalDisplay').draggable({
                    handle: ".modal-body"
                });

                var url = document.location.toString();
                // Change hash for page-reload

                //Main menu item display
                var menuAbout = url.substr(url.search("About"),10);
                var menuResume = url.substr(url.search("Resume"),10);
                var menuPortfolio = url.substr(url.search("Portfolio"),10);
                var menuContact = url.substr(url.search("Contact"),10);

                if(menuAbout == ("About")){
                    $('#mainAboutSpan').addClass("aboutMenuNav");
                    $('#mainAboutHref').tooltip('disable');
                    $('#mainAboutHref').addClass("menu-item-grad-bg").removeClass("menu-item-bg");
                    $('#footer').addClass("aboutFooter");
                }
                else if(menuResume == ("Resume")){
                    $('#mainResumeSpan').addClass("resumeMenuNav");
                    $('#mainResumeHref').addClass("menu-item-grad-bg").removeClass("menu-item-bg");
                    $('#mainResumeHref').tooltip('disable');
                }
                else if(menuPortfolio == ("Portfolio")){
                    $('#mainPortfolioSpan').addClass("portfolioMenuNav");
                    $('#mainPortfolioHref').tooltip('disable');
                    $('#mainPortfolioHref').addClass("menu-item-grad-bg").removeClass("menu-item-bg");
                    $('#footer').addClass("portfolioFooter");
                }
                else if(menuContact == ("Contact")){
                    $('#mainContactSpan').addClass("contactMenuNav");
                    $('#mainContactHref').tooltip('disable');
                    $('#mainContactHref').addClass("menu-item-grad-bg").removeClass("menu-item-bg");
                    $('#footer').addClass("contactFooter");
                    $('#contactModal').on('show.bs.modal', function (e) {
                        var button = e.relatedTarget;
                            if($(a).hasID('mainContactHref')) {
                            e.stopPropagation();
                        }
                    });
                }
                else{
                    $('.main-menu-li').css("display","none");
                    $('.mainSocialIcon').css("display","none");
                    $('.social-menu-li').css("display","block");
                    $('body').addClass("slideshow");
                    $('.wrapper-main').css("background-image","url('/public/images/background/bgGreyDots.jpg')");
                    $('body').removeClass("body-bg");
                    $('#footer').addClass("homeFooter");
                }
                //End of script

                <!-- Slide Background image -->
                var image1 = "/public/images/background/background_1.jpg";
                var image2 = "/public/images/background/background_2.jpg";
                var image3 = "/public/images/background/background_3.jpg";
                var images = new Array(image1,image2,image3);
                var nextimage = 0;

                doSlideshow();

                function doSlideshow(){
                    if($('.slideshowimage').length!=0){
                        $('.slideshowimage').fadeOut(500,function(){
                            slideshowFadeIn();
                            $(this).remove()
                        });
                    }else{
                        slideshowFadeIn();
                    }
                }
                function slideshowFadeIn(){
                    $('.slideshow').prepend(
                        $('<img class="slideshowimage" src="'+images[nextimage++]+'" style="display:none">').fadeIn(500,function(){
                            setTimeout(doSlideshow,2000);
                        })
                    );
                    if(nextimage >= images.length)
                        nextimage = 0;
                }
                <!-- END -->
            });
        </script>
        #{get 'moreScripts' /}
    </head>
    <body class="body-bg" ng-app="website" ng-controller="dataCtrl">
        <div class="push25"></div>
        <div class="wrapper page960">
            <header>
                <ul class="main-menu">
                    <li ng-repeat="x in mainMenu" class="main-menu-li" id="li-{{x.mainNavSpanID}}">
                        <a ng-href="{{x.mainNavUrl}}" class="menu-item menu-item-bg hvr-bounce-to-right box-shadow" id="{{x.mainNavHrefID}}" data-toggle="tooltip" data-placement="right" title="{{x.mainNav}}">
                            <span>
                                <img ng-src="{{x.mainNavImg}}" />
                                <span class="menu-item-name sm-hide" id="{{x.mainNavSpanID}}">{{x.mainNav}}</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- Home Page Nav Menu -->
                <ul class="social-main-menu">
                    <li ng-repeat="x in socialMenu" class="social-menu-li">
                        <a ng-href="{{x.socialNavUrl}}" class="menu-item menu-item-bg hvr-bounce-to-right box-shadow" id="{{x.socialNavHrefID}}">
                            <span>
                                <img ng-src="{{x.socialNavImg}}" />
                                <span class="menu-item-name sm-hide" id="{{x.socialNavSpanID}}">{{x.socialNav}}</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- END -->
            </header>

            <div class="wrapper-main box-shadow">
                <div class="cointaner">
                    <div class="row">
                        <div class="col-md-9">
                            #{doLayout /}
                        </div>
                        <div class="col-md-3" id="mainContactBody">
                            <div class="mainContact text-right">
                                <div class="mainAddress">
                                    <span>&{'mainAddress'}, &{'mainPostalCode'}</span><br>
                                    <span>&{'mainEmail'}</span><br>
                                    <span>&{'mainPhone'}</span>
                                </div>
                                <div class="mainSocialIcon">
                                    <span ng-repeat="x in socialMenu">
                                        <a href="{{x.socialNavUrl}}">
                                            <img ng-src="{{x.socialNavImg}}" class="box-shadow" data-toggle="tooltip" data-placement="bottom" title="{{x.socialNav}}" />
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="push25"></div>
                            <div id="footer" class="footerContent">
                                <div class="text-right">
                                    <span>&{'copyRight'}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push25"></div>
        <!-- Contact Modal -->
        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="contact-title box-shadow col-md-12">
                            <h2>
                                &{'contactAsk'}
                            </h2>
                        </div>
                        <div class="clear"></div>
                        <div class="push25"></div>
                        <form class="form-group box-shadow col-md-12">
                            <div class="push25"></div>
                            <div class="contact-input-text">
                                <input type="text" class="form-control col-md-6 pull-left" placeholder="&{'yourEmail'}"/>
                                <input type="text" class="form-control col-md-6 pull-right" placeholder="&{'yourName'}"/>
                            </div>
                            <div class="clear"></div>
                            <div class="push25"></div>
                            <div class="contact-text-area">
                                <textarea class="form-control" rows="10" placeholder="&{'yourMessage'}"></textarea>
                            </div>
                            <div class="clear"></div>
                            <div class="push25"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-primary hvr-shutter-out-horizontal pull-right">Send</a>
                        <a href="" class="btn btn-default hvr-shutter-in-horizontal pull-right" id="downloadModal" data-dismiss="modal">Download My CV</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
        <!-- Download Modal -->
        <div class="modal fade" id="downloadModalDisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>
                            &{'contactDownload'}
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default hvr-shutter-in-horizontal pull-right" id="download-modal-no" data-dismiss="modal">No</a>
                        <a download="Resume-Jerald-Update.pdf" href="public/resume-file/Resume-Jerald-Update.pdf" class="btn btn-primary hvr-shutter-out-horizontal pull-right" onclick="location.reload()">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
    </body>
</html>
